{% extends "base.html" %}
{% load profile_tags %}

{% block Content %}


	<div class="title">Hikayeleriniz</div>

	<div class="content story-list">

		{% user_stories user as stories %}

		{% for story in stories %}

			<div class="story-preview">
				<a href="{% url 'story_details' story.id %}">
					<img src="/uploads/{{ story.image }}">
					<div>{{ story.title }}</div>
				</a>
			</div>

		{% endfor %}

		<div class="story-preview"><a href="{% url 'create_story' %}">Yeni Hikaye Oluştur</a></div>


	</div>

{% endblock %}

