{% extends "base.html" %}


{% block Content %}

	<div class="title">{{ object.title }}<a href="{% url 'run_story' object.id 0 %}" class="run-story">Çalıştır</a></div>

	<div class="content">

		<div class="story-details">
			<img src="/uploads/{{ object.image }}" size="200" />
		</div>

		<div class="sub-title"><span>Sayfalar</span></div>

		<div class="page-list">

			{% for page in object.pages.all %}

				<div class="page-preview"><a href="{% url 'edit_page' page.id %}">{{ page.title }}</a></div>

			{% endfor %}

			<div class="page-preview"><a href="{% url 'create_page' story.id %}">Sayfa Ekle</a></div>

		</div>

	</div>

{% endblock %}
