{% extends "base.html" %}

{% block Content %}

<div class="editable">

	<div class="editable_left">

		<div class="nav">

			<div class="title">

				<a href="{% url 'story_details' page.story.id %}">{{ page.story.title }}</a> > {{ page.title }}

			</div>

			<div class="nav_bottom">
				<ul class="methods">
					<li><a href="#" class="addText">Yazı Ekle</a></li>
					<li><a href="#" class="addImage">Resim Ekle</a></li>
				</ul>
			</div>

		</div>

		<form action="" method="POST" class="main-form" enctype="multipart/form-data">{% csrf_token %}

			<!-- START default editable fields -->
			<textarea cols="50">{{ page.title }}</textarea>
			<!-- END default editable fields -->

			<!-- START user defined editable fields -->
			<div class="testing">

				<ul class="user_defined_fields">

					{% for element in page.elements.all %}
						{% if element.type == "text" %}
							<li class="custom_element" id="formitem-text-{{ element.id }}">
								<textarea>{{ element.content }}</textarea>
								<span class="remove_element">
							</li>
						{% else %}
							<li class="custom_element" id="formitem-image-{{ element.id }}">
								<img src="/uploads/{{ element.image }}"><input type="file" class="custom-file-input" />
								<span class="remove_element">
							</li>
						{% endif %}
					{% endfor %}

				</ul>

			</div>
			<!-- END user defined editable fields -->

			<span class="submitting">SAVE</span>

		</form>

	</div>

</div>


{% endblock %}